<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Country Fun Facts</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #1379ec;
    color: white;
  }

  tr:hover {background-color: #f5f5f5;}

  table, th, td {
  border: 1px solid black;
}
</style>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Rankings Dashboard</h1>
        <p>Use our dashboard for information on Spotify Streams, Ramen Ratings and University Ratings for 20 countries</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h5>Select a Country</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
      </div> 
      <div class="col-md-9">
       <svg></svg>     
      </div>
    <div class="row">
      <div class="col-md-8">
      <h2>Top 10 Most Streamed Songs Weekly on Spotify</h2>
        <div id="table-area" class= "">
          <table class="table .table-bordered" id="spotify-table">
            <thead>
              <tr>
                <th class="table-head">Rank</th>
                <th class="table-head">Artist</th>
                <th class="table-head">Song Title</th>
                <th class="table-head">Streams</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4">
      <h2>Highest Ranked University</h2>
        <div id="table-area" class= "">
          <div style="height:408px; overflow-y: scroll;">
            <table class="table .table-bordered" id="uni-table">
              <thead>
                <tr>
                  <th class="table-head">Rank</th>
                  <th class="table-head">University</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div> 
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="bar"></div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="//d3js.org/topojson.v1.min.js"></script>
  <!-- <script src="https://d3js.org/d3.v3.min.js"></script> -->
  <script src="https://d3js.org/topojson.v1.min.js"></script>


</body>

</html>
